@charset "utf-8";
.main{
	position:relative;
	left:0;
	top:0;
	height:370px;
	border:solid 1px #fff;
}
.login{
	position:absolute;
	right:10%;
	top:0;
	width:370px;
	height:370px;
	border:solid 1px #ccc;
	background-color:#f8f8f8;
}
.login .login_viewport{
	width:300px;
	margin:20px auto;
}
.soof_SignInTabPanel .deco_tabbar .deco_tab{
	padding:8px !important;
}
.foot{
	width:100%;
	position:absolute;
	left:0;
	bottom:0;
	height:30px;
	line-height:30px;
	text-align:center;
	background-color:#f2f2f2;
}

.smart_layout .head{
	text-align:center;
}
.smart_layout .head .logo{
	margin:0;
	margin:30px 0 10px;
	max-width:100%;
	max-height:100px;
}
.smart_layout .main{
	height:auto;
}
.smart_layout .login{
	position:static;
	margin:0 auto;
	height:auto;
}
.smart_layout .foot{
	position:static;
	margin-top:1em;
	background:none;
	line-height:20px;
}
@media screen and (max-width:400px){
.smart_layout .head .logo{
	margin-top:10px;
}
.smart_layout .login{
	width:auto;
	border-left:none;
	border-right:none;
}
.smart_layout .login .login_viewport{
	margin:10px auto;
}
}

