@charset "UTF-8";
.rl_backboard{
	position:relative;
	left:0;
	top:0;
	height:100%;
	overflow:auto;
	background-color:#fff;
}
.rl_backboard .board_wrap{
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
}
.rl_backboard .board_head{
	position:absolute;
	left:0;
	top:0;
	height:50px;
	width:100%;
	background:#979797 url(../image/default/backboard/chassis_bg_top.gif) repeat-y center;
}
.rl_backboard .board_foot{
	position:absolute;
	left:0;
	height:50px;
	width:100%;
	background:#979797 url(../image/default/backboard/chassis_bg_bottom.gif) repeat-x center;
}
.rl_backboard .board_label{
	margin:10px 0 5px 80px;
	text-align:left;
	color:#333;
}
.rl_backboard .board_info{
	margin-left:80px;
	width:80%;
	white-space:nowrap;
	overflow:hidden;
	color:#333;
	text-overflow:ellipsis;
}
.rl_backboard .nail{
	position:absolute;
	top:10px;
	width:16px;
	height:16px;
	background:url(../image/default/backboard/nail.gif) no-repeat;
}
.rl_backboard .nail_left{
	left:39px;
}
.rl_backboard .nail_right{
	right:39px;
}

.rl_backboard .items_ctn{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	/*height:100%;*/
	overflow:hidden;
	/*background:url(../image/default/backboard/card_empty.gif);*/
}
.rl_backboard .rl_card, .rl_backboard .rl_port{
	position:absolute;
	left:0;
	top:0;
}
.rl_backboard .rl_card{
	height:100%;
	width:46px;
}
.rl_card .card_wrap{
	width:100%;
	height:100%;
}
.rl_card .ports_ctn{
	width:100%;
	height:100%;
	background:url(../image/default/backboard/card_sprite_bg.gif) repeat-y;
}
.rl_card .card_head, .rl_card .card_foot{
	position:absolute;
	height:42px;
	width:100%;
	background:url(../image/default/backboard/card_sprite.gif) no-repeat;
}
.rl_card .card_head{
	top:0;
}
.rl_card .card_foot{
	bottom:0 !important;
	bottom:-1px;
}
.card_uninstall .ports_ctn{
	background-position:0 0;
}
.card_normal .ports_ctn{
	background-position:-46px 0;
}
.card_alarm .ports_ctn{
	background-position:-92px 0;
}
.card_mouseover .card_normal .ports_ctn{
	background-position:-138px 0;
}
.card_mouseover .card_alarm .ports_ctn{
	background-position:-184px 0;
}

.card_uninstall .card_head{
	background-position:0 0;
}
.card_normal .card_head{
	background-position:0 -84px;
}
.card_alarm .card_head{
	background-position:0 -168px;
}
.card_mouseover .card_normal .card_head{
	background-position:0 -252px;
}
.card_mouseover .card_alarm .card_head{
	background-position:0 -336px;
}

.card_uninstall .card_foot{
	background-position:0 -42px;
}
.card_normal .card_foot{
	background-position:0 -126px;
}
.card_alarm .card_foot{
	background-position:0 -210px;
}
.card_mouseover .card_normal .card_foot{
	background-position:0 -294px;
}
.card_mouseover .card_alarm .card_foot{
	background-position:0 -378px;
}
.rl_card .rl_port{
	width:25px;
	height:19px;
	left:11px;
	margin:0 auto;
}
.rl_port .port_wrap{
	width:100%;
	height:100%;
	background-repeat:no-repeat;
}
.rl_port .port_down{
	background-position:0 -19px;
}
.rl_port .port_up{
	background-position:-25px -19px;
}
.rl_port .port_alarm{
	background-position:-50px -19px;
}
.port_mouseover .port_down{
	background-position:0 0;
}
.port_mouseover .port_up{
	background-position:-25px 0;
}
.port_mouseover .port_alarm{
	background-position:-50px 0;
}
.rl_port .ethernet{
	background-image:url(../image/default/backboard/itf_ethernet_sprite.gif);
}
.rl_port .e1{
	background-image:url(../image/default/backboard/itf_e1_sprite.gif);
}
.rl_port .ds1{
	background-image:url(../image/default/backboard/itf_ds1_sprite.gif);
}
.rl_port .oc3{
	background-image:url(../image/default/backboard/itf_oc3_sprite.gif);
}
.rl_port .unknown{
	background-image:url(../image/default/backboard/itf_unknown_sprite.gif);
}
