@charset "utf-8";
/* dialog */
.rl_dialog{
	position:absolute;
	z-index:1;
	left:0;
	top:0;
}
/* border icons */
.rl_dialog .border_icon_bar{
	position:absolute;
	top:0;
	right:5px;
	cursor:default;
}

.rl_dialog .rl_icon_btn button.bi_close{
	width:39px;
	height:18px;
	background-image:url(../image/default/dialog/bi_close_sprite.gif);
	background-position:0 0;
}
.rl_dialog .rl_icon_btn img.bi_close{
	width:11px;
	height:10px;
}
.rl_dialog .rl_icon_btn_over button.bi_close{
	background-position:0 -20px;
}
.rl_dialog .rl_icon_btn_down button.bi_close{
	background-position:0 -40px;
}
.rl_dialog .rl_icon_btn_focused button.bi_close{
	background-position:0 -40px;
}
.rl_dialog .rl_icon_btn_disabled button.bi_close{
	background-position:0 -60px;
}
/* border wrapper, main wrapper */
.rl_dialog .border_wrapper, .rl_dialog .main_wrapper{
	width:100%;
	height:100%;
	table-layout:fixed;
}
/* title bar */
.rl_dialog .title_bar{
	height:25px;
	line-height:25px;
	background:url(../image/default/dialog/n.gif) repeat-x 0 -5px;
	cursor:default;
	-moz-user-select:none ;/*for ff*/
	-webkit-user-select: none;
}
.rl_dialog .title_bar .icon_wrapper{
	width:20px;
}
.rl_dialog .title_bar .icon{
	height:24px;
	width:20px;
	background:left center no-repeat;
}
.rl_dialog .title_bar .title{
	height:14px;
	*height:12px;
	line-height:13px !important;
	*line-height:12px !important;
	line-height:14px;
	width:100px;
	white-space:nowrap;
	overflow:hidden;
    text-overflow:ellipsis;
}
.rl_dialog .title_bar .border_icon_space{
	width:50px;
}
.rl_dialog td.content_border{
	height:100%;
	border:solid 1px #C8E3F8;
}
.rl_dialog div.content_wrapper{
	height:100%;
	width:100%;
	overflow:hidden;
}
.rl_dialog .bottom_bar{
	height:40px;
	background-color:#ECF5FD;
}
.rl_dialog .bottom_bar .rl_btn,
.rl_dialog .bottom_bar .rl_input,
.rl_dialog .bottom_bar .rl_label{
	float:right;
	margin:8px 20px 0 0;
}

/* border wrapper*/
.rl_dialog .border_wrapper td.nw, .rl_dialog .border_wrapper td.ne,
.rl_dialog .border_wrapper td.se, .rl_dialog .border_wrapper td.sw,
.rl_dialog .border_wrapper td.n, .rl_dialog .border_wrapper td.e,
.rl_dialog .border_wrapper td.s, .rl_dialog .border_wrapper td.w{
	font-size:1px;
    line-height:1px;
	overflow:hidden;
}
.rl_dialog .border_wrapper td.nw, .rl_dialog .border_wrapper td.ne,
.rl_dialog .border_wrapper td.se, .rl_dialog .border_wrapper td.sw{
	width:5px;
	height:5px;
	background:url(../image/default/dialog/conners.gif) no-repeat;
}
.rl_dialog .border_wrapper td.nw{
	background-position:0 0;
}
.rl_dialog .border_wrapper td.ne{
	background-position:right 0;
}
.rl_dialog .border_wrapper td.se{
	background-position:right bottom;
}
.rl_dialog .border_wrapper td.sw{
	background-position:0 bottom;
}
.rl_dialog .border_wrapper td.n{
	background:url(../image/default/dialog/n.gif) repeat-x top;
}
.rl_dialog .border_wrapper .hilite_border{
	background:url(../image/default/dialog/hilite_border.gif) 0 1px no-repeat;
	height:5px;
}
.rl_dialog .border_wrapper td.s{
	background:url(../image/default/dialog/s.gif) repeat-x bottom;
}
.rl_dialog .border_wrapper td.e{
	background:url(../image/default/dialog/e.gif) repeat-y right;
}
.rl_dialog .border_wrapper td.w{
	background:url(../image/default/dialog/w.gif) repeat-y left;
}
.rl_dialog .border_wrapper .c{
	background-color:#FFF;
	vertical-align:top;
}
.rl_dialog_drag_mask{
	filter:alpha(opacity=0);
	opacity:0;
	position:absolute;
	z-index:10000;
	width:100%;
	height:100%;
	left:0;
	top:0;
	display:none;
	background:white;
}
body.rl_dialog_modal_mode{
	overflow:hidden;
}

.rl_dialog .content_wrapper .msg_wrapper{
	padding:1em;
	padding-top:2em;
}


/* dialog theme: lightgray */
.rl_dialog.lightgray .bottom_bar{
	height:60px;
	background-color:#f8f8f8;
	border-top:solid 1px #eee;
}
.rl_dialog.lightgray .bottom_bar .rl_btn,
.rl_dialog.lightgray .bottom_bar .rl_input,
.rl_dialog.lightgray .bottom_bar .rl_label{
	margin-top:12px;
}
.rl_dialog.lightgray .bottom_bar .rl_btn .rl_btn_left,
.rl_dialog.lightgray .bottom_bar .rl_btn .rl_btn_center,
.rl_dialog.lightgray .bottom_bar .rl_btn .rl_btn_right{
	background:none;
}
.rl_dialog.lightgray .bottom_bar .rl_btn .rl_btn_center button{
	padding:7px 2em;
	border:none;
	background-color:#09C;
	color:#fff;
	border-radius:3px;
}
.rl_dialog.lightgray .bottom_bar .rl_btn .rl_btn_center button:hover{
	background-color:#00B3EE;
}
.rl_dialog.lightgray .bottom_bar .rl_btn button{
	height:auto;
}
