@charset "utf-8";
.rl_msg_popup{
	background:url(../image/default/popupWindow/bg_body.gif) repeat-x;
	width:300px;
	border:solid 1px #069;
	overflow:hidden;
	font-size:12px;
	cursor:default;
}
.rl_msg_popup td{
	margin:0;
	padding:0;
}

.rl_msg_popup .head{
	font-size:1px;
	height:7px;
	background:url(../image/default/popupWindow/bg_head.gif) repeat-x;
}
.rl_msg_popup .body{
	height:100%;
	width:100%;
}

.rl_msg_popup .title_bar{
	width:100%;
	height:20px;
}
.rl_msg_popup .title_bar .title_wrap{
	width:100%;
}
.rl_msg_popup .title_bar .title{
	font-size:12px;
	font-weight:bold;
	width:250px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
	/*border:solid 1px red;*/
}
.rl_msg_popup .title_bar .icon{
	width:16px;
	height:16px;
	margin:3px 5px;
}
.rl_msg_popup .title_bar .btn_close{
	cursor:pointer;
	width:16px;
	height:16px;
	margin:3px 5px;
	background:url(../image/default/popupWindow/close.gif) center no-repeat;
}
.rl_msg_popup .hide_dashed_box{
	position:absolute;
	top:-1000px;
}
.rl_msg_popup .content{
	padding:5px 16px 0 25px;
	height:63px;
	line-height:16px;
	overflow:hidden;
}
.rl_msg_popup .foot{
	padding-top:5px;
}

.rl_msg_popup .foot img{
	width:16px;
	height:16px;
	position:relative;
	top:3px;
	margin-left:5px;
	cursor:pointer;
}

.rl_msg_popup .foot .btn_action{
	float:right;
	margin-right:5px;
	margin-top:5px;
}
.rl_msg_popup .previous{
	background-image:url(../image/default/popupWindow/go_pre.gif);	
}
.rl_msg_popup .previous_disabled{
	background-image:url(../image/default/popupWindow/go_pre_disabled.gif);	
}
.rl_msg_popup .next{
	background-image:url(../image/default/popupWindow/go_next.gif);	
}
.rl_msg_popup .next_disabled{
	background-image:url(../image/default/popupWindow/go_next_disabled.gif);	
}
