@charset "utf-8";
/**
 * cloudac proj common style, contains:
 * default set, mui, mui-themes.
 */
/**
 * abbrs
 * std: standard
 */
/**
 * User agent default config.
 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	background: #fff;
	font-family: "宋体", Arial, sans-serif;
	color: #000;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img, hr {
    border: 0 none;
}
address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: normal;
}
ol, ul {
    list-style: none outside none;
}
h5, h6 {
	font-size: 12px;
}
h4 {
	font-size: 14px;
}
h3 {
	font-size: 16px;
}
h2 {
	font-size: 18px;
}
h1 {
	font-size: 24px;
}
input {
	margin: 0;
	padding: 0;
	font-size: 12px;
}
select {
	height: 20px;
}
label {
	border: none;
	cursor: default;
}

/* common layout style */
.p5{
	padding-top:5px;
}
.p10{
	padding-top:10px;
}
div.section {
    border-top: 1px solid #E5E5E5;
    padding: 15px 0 20px;
	line-height:1.4em;
}
div.section_unite,
div.first {
    border-top: none;
    padding-top: 0;
}
.clearer{
	clear:both;
	height:0;
}
button.btn{
	padding:6px 1em;
	border:solid 1px #ddd;
	border-radius:3px;
	cursor:pointer;
	white-space:nowrap;
}
button.btn.primary{
	border:none;
	border-radius:5px;
	background-color:#4AA5D2;
	color:#fff;
}
button.btn.primary:hover{
	opacity:0.85;
}

/**
 * cloudac_std: default theme.
 */
.cloudac_std a{
	color:#03C;
	text-decoration:none;
}
.cloudac_std a:hover{
	color:#FC0;
	text-decoration:underline;
}

.cloudac_head{
	margin-top:30px;
}
.cloudac_sep_line{
	height:20px;
	width:1200px;
	margin:0px auto;
	border-bottom:solid 1px #ddd;
}
/**
 * cloudac_limit_std: defines head, mbody, foot width.
 */
.cloudac_limit_std .cloudac_head,
.cloudac_limit_std .cloudac_foot {
	width:100%;
}
.cloudac_limit_std .cloudac_head .head_wrapper,
.cloudac_limit_std .cloudac_mbody .mbody_wrapper,
.cloudac_limit_std .cloudac_foot .foot_wrapper {
	width:1000px;
	margin:0 auto;
}

