@charset "utf-8";
.soof_editable_cards {
	list-style-type: none;
	font-size:14px;
}
.soof_editable_cards li {
	margin: 0 12px 12px 0;
	padding: 1px;
	float: left;
	width:200px;
	height:100px;
	text-align: center;
}
.soof_editable_cards .card {
	position:relative;
	left:0;
	top:0;
	width:100%;
	height:100%;
	border:solid 1px #ccc;
}
.soof_editable_cards .card .overlay {
	visibility:hidden;
	position:absolute;
	right:-6px;
	top:-6px;
	z-index:10;
	width:16px;
	height:16px;
	border:0;
	cursor:pointer;
}
.soof_editable_cards .card .thumbnail {
	width:100%;
	height:100%;
	border:none;
}
.soof_editable_cards .card .btn {
	visibility:hidden;
	display:block;
	position:absolute;
	left:0;
	top:0;
	z-index:2;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.4);
	text-decoration:none;
}
.soof_editable_cards .card .btn div{
	padding-top:40px;
	text-align:center;
	color:#eee;
}
/*
.smartmask: mask that contains vplaceholder.
*/
.soof_editable_cards .card .btn div.smartmask{
	padding-top:0;
	height:100%;
}
/*
.vplaceholder: vertical placeholder.
*/
.soof_editable_cards .card .btn div.vplaceholder{
	padding-top:0;
	height:40%;
}

.soof_editable_cards .card_hover .overlay,
.soof_editable_cards .card_hover .btn {
	visibility:visible;
}
.soof_editable_cards .static_card .btn {
	visibility:visible;
}
.soof_editable_cards .static_card .btn:hover {
	background:rgba(0, 0, 0, 0.5);
}
.soof_editable_cards .card.white{
	border-style:dashed;
}
.soof_editable_cards .card.white .btn{
	background-color:#fff;
}
.soof_editable_cards .card.white .btn:hover{
	background-color:#f8f8f8;
}
.soof_editable_cards .card.white .btn div{
	color:#000;
}
.soof_editable_cards.titled_cards li {
	width:260px;
	height:180px;
}
.soof_editable_cards.titled_cards .card{
	border-radius:3px;
}
.soof_editable_cards.titled_cards .card  .cnt_wrap {
	height:130px;
	padding:6px 12px;
	overflow:hidden;
}
.soof_editable_cards.titled_cards .card  .title {
	padding:6px 12px;
	white-space:nowrap;
	overflow:hidden;
	text-align:left;
}
.soof_editable_cards.titled_cards .card .btn {
	border-radius:3px;
}
.soof_editable_cards.titled_cards .card .btn div{
	padding-top:80px;
}
/*
.smartmask: mask that contains vplaceholder.
*/
.soof_editable_cards.titled_cards .card .btn div.smartmask{
	padding-top:0;
	height:100%;
}
/*
.vplaceholder: vertical placeholder.
*/
.soof_editable_cards.titled_cards .card .btn div.vplaceholder{
	padding-top:0;
	height:40%;
}

.soof_editable_tiles{
	width:345px;
	border:solid 1px #ddd;
}
.soof_editable_tiles li {
	width:100px;
	margin:6px;
}
.soof_editable_tiles .tile{
	display:block;
	height:100%;
	text-decoration:none;
}
.soof_editable_tiles .tile .icon{
	margin:0 auto;
	padding:9px;
	width:64px;
	height:64px;
	overflow:hidden;
	background:center no-repeat;
}
.soof_editable_tiles .tile .text{
	text-align:center;
	color:#fff;
	font-weight:bold;
}
.soof_icon_tiles_ctn{
	/*width:770px; */
	width:410px; 
	height:160px; 
	overflow:auto;
	border:solid 1px #ddd;
}
.soof_icon_tiles{
	clear:both;
}
.soof_icon_tiles li{
	float:left;
	padding:3px;
}
.soof_icon_tiles li a{
	display:table-cell;
	width:68px;
	height:68px;
	border:solid 2px #bbb;
	text-align:center;
	vertical-align:middle;
	background-color:#bbb;
}
.soof_icon_tiles li a:hover{
	background-color:#ddd;
}
.soof_icon_tiles li a.active{
	border:solid 2px #7da2ce;
	background-color:#c2dcfc;
}
