@charset "utf-8";
/**
 * entity.css: style for product entities, like devices.
 * 图标css构成说明：一个图标的 css 由 2 部分组成，即图标类别 + 状态。
 * 图标表
		图标类别												支持状态
		wifi_mode_ap ：设备的 ap 模式图标						normal, warning, error, disabled
		wifi_mode_router ：设备的 路由模式图标					normal, warning, error, disabled
		wifi_mode_gateway ：设备的 网关模式图标					normal, warning, error, disabled
		wifi_mode_v_ubnt ：ubnt 网关设备的 模式图标				normal, warning, error, disabled
		wifi_mode_v_mikrotik ：mikrotik 网关设备的 模式图标		normal, warning, error, disabled
		wifi_feature_trace :　设备支持溯源功能					normal, warning, error, disabled
		wifi_feature_monitor :　设备支持探测功能				normal, warning, error, disabled
		wifi_rf_2_4g : 射频2.4g 图标							[enable], disabled
		wifi_rf_5_8g : 射频5.8g 图标							[enable], disabled
		net_wan : wan 网络图标								[enable], disabled
		net_lan : lan 网络图标								[enable], disabled
	
 * 应用示例
	表示“ap 模式，当前离线”： <i class="wifi_mode_ap disabled"></i>
	表示“路由模式，当前在线”： <i class="wifi_mode_router normal"></i>
	表示“支持溯源，当前已开启”： <i class="wifi_feature_trace normal"></i>
	表示“支持探测，当前未开启”： <i class="wifi_feature_monitor disabled"></i>
 */

.soof_icon{
	display:inline-block;
	vertical-align:middle;
	background-repeat:no-repeat;
	background-position:100px 100px; /* position to blank space */
}
.soof_icon.wifi_mode_ap,
.soof_icon.wifi_mode_router,
.soof_icon.wifi_mode_gateway,
.soof_icon.wifi_mode_v_ubnt,
.soof_icon.wifi_mode_v_mikrotik,
.soof_icon.wifi_feature_trace,
.soof_icon.wifi_feature_monitor{
	width:16px;
	height:16px;
	background-image:url(../image/default/entity/entity_status.png);
}
.soof_icon.wifi_mode_ap,
.soof_icon.wifi_mode_router,
.soof_icon.wifi_mode_gateway,
.soof_icon.wifi_mode_v_ubnt{
	width:32px;
}
.soof_icon.wifi_mode_v_mikrotik{
	width:64px;
}
.soof_icon.wifi_mode_router.normal{
	background-position:0 0;
}
.soof_icon.wifi_mode_router.warning{
	background-position:0 -16px;
}
.soof_icon.wifi_mode_router.error{
	background-position:0 -32px;
}
.soof_icon.wifi_mode_router.disabled{
	background-position:0 -48px;
}
.soof_icon.wifi_mode_ap.normal{
	background-position:-32px 0;
}
.soof_icon.wifi_mode_ap.warning{
	background-position:-32px -16px;
}
.soof_icon.wifi_mode_ap.error{
	background-position:-32px -32px;
}
.soof_icon.wifi_mode_ap.disabled{
	background-position:-32px -48px;
}
.soof_icon.wifi_mode_gateway.normal{
	background-position:-64px 0;
}
.soof_icon.wifi_mode_gateway.warning{
	background-position:-64px -16px;
}
.soof_icon.wifi_mode_gateway.error{
	background-position:-64px -32px;
}
.soof_icon.wifi_mode_gateway.disabled{
	background-position:-64px -48px;
}
.soof_icon.wifi_mode_v_ubnt.normal{
	background-position:-96px 0;
}
.soof_icon.wifi_mode_v_ubnt.warning{
	background-position:-96px -16px;
}
.soof_icon.wifi_mode_v_ubnt.error{
	background-position:-96px -32px;
}
.soof_icon.wifi_mode_v_ubnt.disabled{
	background-position:-96px -48px;
}
.soof_icon.wifi_mode_v_mikrotik.normal{
	background-position:-128px 0;
}
.soof_icon.wifi_mode_v_mikrotik.warning{
	background-position:-128px -16px;
}
.soof_icon.wifi_mode_v_mikrotik.error{
	background-position:-128px -32px;
}
.soof_icon.wifi_mode_v_mikrotik.disabled{
	background-position:-128px -48px;
}
.soof_icon.wifi_feature_trace.normal{
	background-position:-32px -80px;
}
.soof_icon.wifi_feature_trace.warning{
	background-position:-32px -96px;
}
.soof_icon.wifi_feature_trace.error{
	background-position:-32px -112px;
}
.soof_icon.wifi_feature_trace.disabled{
	background-position:-32px -128px;
}
.soof_icon.wifi_feature_monitor.normal{
	background-position:-16px -80px;
}
.soof_icon.wifi_feature_monitor.warning{
	background-position:-16px -96px;
}
.soof_icon.wifi_feature_monitor.error{
	background-position:-16px -112px;
}
.soof_icon.wifi_feature_monitor.disabled{
	background-position:-16px -128px;
}

.soof_icon.wifi_rf_2_4g,
.soof_icon.wifi_rf_5_8g,
.soof_icon.net_lan,
.soof_icon.net_wan{
	width:32px;
	height:50px;
	background-image:url(../image/default/entity/networks.jpg);
}
.soof_icon.wifi_rf_2_4g{
	background-position:0 0;
}
.soof_icon.wifi_rf_2_4g.disabled{
	background-position:0 -50px;
}
.soof_icon.wifi_rf_5_8g{
	background-position:0 -100px;
}
.soof_icon.wifi_rf_5_8g.disabled{
	background-position:0 -150px;
}
.soof_icon.net_lan{
	background-position:-50px 0;
}
.soof_icon.net_lan.disabled{
	background-position:-50px -50px;
}
.soof_icon.net_wan{
	background-position:-50px -100px;
}
.soof_icon.net_wan.disabled{
	background-position:-50px -150px;
}

.soof_icon.sms_auth,
.soof_icon.wechat_auth,
.soof_icon.account_auth,
.soof_icon.wechat_auth_scan,
.soof_icon.wechat_auth_onekey,
.soof_icon.wechat_auth_input,
.soof_icon.share_auth_pengyouquan,
.soof_icon.share_auth_weibo,
.soof_icon.share_auth_qzone{
	width:64px;
	height:64px;
	background-image:url(../image/default/entity/auth.png?_v=20150210);
}
.soof_icon.wechat_auth{
	background-position:0 0;
}
.soof_icon.wechat_auth.disabled{
	background-position:0 -64px;
}
.soof_icon.sms_auth{
	background-position:-64px 0;
}
.soof_icon.sms_auth.disabled{
	background-position:-64px -64px;
}
.soof_icon.account_auth{
	background-position:-128px 0;
}
.soof_icon.account_auth.disabled{
	background-position:-128px -64px;
}
.soof_icon.wechat_auth_scan{
	background-position:-192px 0;
}
.soof_icon.wechat_auth_scan.disabled{
	background-position:-192px -64px;
}
.soof_icon.wechat_auth_onekey{
	background-position:-256px 0;
}
.soof_icon.wechat_auth_onekey.disabled{
	background-position:-256px -64px;
}
.soof_icon.wechat_auth_input{
	background-position:-320px 0;
}
.soof_icon.wechat_auth_input.disabled{
	background-position:-320px -64px;
}
.soof_icon.share_auth_pengyouquan{
	background-position:-384px 0;
}
.soof_icon.share_auth_pengyouquan.disabled{
	background-position:-384px -64px;
}
.soof_icon.share_auth_weibo{
	background-position:-448px 0;
}
.soof_icon.share_auth_weibo.disabled{
	background-position:-448px -64px;
}
.soof_icon.share_auth_qzone{
	background-position:-512px 0;
}
.soof_icon.share_auth_qzone.disabled{
	background-position:-512px -64px;
}

.soof_icon.sms_auth_48,
.soof_icon.wechat_auth_48,
.soof_icon.account_auth_48,
.soof_icon.wechat_auth_scan_48,
.soof_icon.wechat_auth_onekey_48,
.soof_icon.wechat_auth_input_48,
.soof_icon.share_auth_pengyouquan_48,
.soof_icon.share_auth_weibo_48,
.soof_icon.share_auth_qzone_48{
	width:48px;
	height:48px;
	background-image:url(../image/default/entity/auth.png?_v=20150210);
}
.soof_icon.wechat_auth_48{
	background-position:0 -300px;
}
.soof_icon.wechat_auth_48.disabled{
	background-position:0 -348px;
}
.soof_icon.sms_auth_48{
	background-position:-48px -300px;
}
.soof_icon.sms_auth_48.disabled{
	background-position:-48px -348px;
}
.soof_icon.account_auth_48{
	background-position:-96px -300px;
}
.soof_icon.account_auth_48.disabled{
	background-position:-96px -348px;
}
.soof_icon.wechat_auth_scan_48{
	background-position:-144px -300px;
}
.soof_icon.wechat_auth_scan_48.disabled{
	background-position:-144px -348px;
}
.soof_icon.wechat_auth_onekey_48{
	background-position:-192px -300px;
}
.soof_icon.wechat_auth_onekey_48.disabled{
	background-position:-192px -348px;
}
.soof_icon.wechat_auth_input_48{
	background-position:-240px -300px;
}
.soof_icon.wechat_auth_input_48.disabled{
	background-position:-240px -348px;
}
.soof_icon.share_auth_pengyouquan_48{
	background-position:-288px -300px;
}
.soof_icon.share_auth_pengyouquan_48.disabled{
	background-position:-288px -348px;
}
.soof_icon.share_auth_weibo_48{
	background-position:-336px -300px;
}
.soof_icon.share_auth_weibo_48.disabled{
	background-position:-336px -348px;
}
.soof_icon.share_auth_qzone_48{
	background-position:-384px -300px;
}
.soof_icon.share_auth_qzone_48.disabled{
	background-position:-384px -348px;
}
