@charset "utf-8";
/* soof_feeds: feed msg styles. */
.soof_feeds{
	font-size:14px;
	color:#666;
}
.soof_feeds .feed{
	margin-top:2em;
	padding-bottom:1.7em;
	border-bottom:solid 1px #ddd;
	border-radius:3px;
}
.soof_feeds .feed ul{
	/*margin-left:.5em;*/
	padding-left:1em;
	list-style-type:disc;
}
.soof_feeds .feed ol{
	margin-left:.5em;
	padding-left:1em;
	list-style-type:decimal;
}
.soof_feeds .feed .nav_date{
	float:left;
	width:60px;
	padding:.5em 0;
	text-align:center;
	font-weight:bold;
	background-color:#eee;
}
.soof_feeds .feed .nav_date .date{
	font-size:36px;
}
.soof_feeds .feed > .main{
	margin-left:105px;
}
.soof_feeds .feed .meta{
	margin:.5em 0;
	color:#999;
}
.soof_feeds .feed .meta a.btn{
	float:right;
	color:#999;
	text-decoration:none;
}
.soof_feeds .feed .meta a.btn:hover{
	color:#09c;
}
.soof_feeds .feed .meta a.btn:hover .arrow_up{
	background-position:0  -120px;
}
.soof_feeds .feed .content{
	margin-top:1.7em;
	line-height:1.7em;
}
.soof_feeds .feed .content .bar{
	padding:.5em 0;
	display:none;
}
.soof_feeds .feed .content .bar:hover{
	cursor:pointer;
}
/* btns */
.soof_feeds .feed .btn.tg_expand{
	display:none;
}
.soof_feeds .feed .bar:hover .tg_collapse,
.soof_feeds .feed .bar:hover .tg_expand{
	cursor:pointer;
	background-color:#f2f2f2;
}

/* unread feed. */
.soof_feeds .feed.unread .nav_date{
	background-color:#09C;
	color:#fff;
}

/* feed content expandable. */
.soof_feeds .feed.expandable .bar{
	display:block;
}

.soof_feeds .feed.collapsed .cnt_iwrap {
	height:1.7em;
	overflow:hidden;
}
.soof_feeds .feed.collapsed .cnt_iwrap {
	height:5.1em; /* 3 lines height */
}
.soof_feeds .feed.uninitialized .cnt_iwrap {
	height:1.7em;
}
.soof_feeds .feed.collapsed .btn.tg_collapse{
	display:none;
}
.soof_feeds .feed.collapsed .btn.tg_expand{
	display:inline;
}

