@charset "utf-8";

.cloudac_form label.after{
	line-height:17px;
	padding-left:4px;
	text-indent:-4px;
}

.cloudac_form input{
	vertical-align:bottom;
	min-height:16px;
}

.cloudac_form .inputline{
	margin-top:12px;
	clear:both;
	line-height:30px;
}
.cloudac_form .inputline label.selector_label{
	display:block;
	float:left;
	padding-right:28px;
	width:150px;
	height:30px;
	text-align:right;
	font-size:14px;
}
.cloudac_form .inputline input.field{
	display:block;
	float:left;
	width:290px;
	height:30px;
	line-height:30px;
	padding-left:.5em;
	font-size:14px;
	border:solid 1px #ccc;
	background-color:#fff;/* force some system custom bg set */
}
.cloudac_form .inputline input.inp_captcha {
	width:150px;
}
.cloudac_form .inputline .captcha_ctn{
	float:left;
	margin-left:.5em;
}
.cloudac_form .desc{
	color:gray;
	line-height:20px;
}
.cloudac_form .indent_to_field{
	padding-left:178px;
}

/**
 * cloudac_reg_form : user register form.
 */
.cloudac_reg_form{
	float:left;
	margin-top:40px;
	margin-left:73px;
	width:600px;
	padding-left:12px;
}
.cloudac_reg_form_tip{
	float:right;
	margin-top:60px; 
	padding:1em;
	width:230px;
	border:solid 1px #eee;
	background-color:#f8f8f8;
	line-height:20px;
	color:#666;
}
.cloudac_reg_form_tip .head{
	padding:.5em 0;
	font-size:14px;
}

/**
 * cloudac_req_feedback: user request feedback.
 */
.cloudac_req_feedback{
	width:700px;
	margin:0 auto;
	font-size:14px;
	line-height:1.8em;
}
.cloudac_req_feedback .img_ctn{
	width:180px;
	vertical-align:top;
}
.cloudac_req_feedback h2{
	text-align:left;
	margin-bottom:2em;
}
.cloudac_req_feedback .content_ctn{
	vertical-align:top;
}

/*
hourglass_select : formof 2 select(mutiple) controls, one shows selectable items while the other shows selected.
*/
.soof_hourglass_select{
}
.soof_hourglass_select .col_buttons{
	vertical-align:middle;
	text-align:center;
}
.soof_hourglass_select .col_buttons button{
	width:60px;
	line-height:20px;
	margin-top:6px;
}

