@charset "utf-8";
/**
 * Homepage style.
 */
.soof_page_home{
	color:#444;
}
.cols_layout{
	width:100%;
}
.cols_layout .main_col,
.cols_layout .side_col{
	vertical-align:top;
}
.cols_layout .main_wrapper_col{
	width:100%;
}
.nav_tabs{
	width:100px;
	border:solid 1px #ccc;
	border-right:none;
	background-color:#eee;
	list-style:none;
}
.nav_tabs li{
}
.nav_tabs li a{
	display:block;
	width:100%;
	height:100px;
	text-align:center;
	text-decoration:none;
	color:#999;
}
.nav_tabs li a:hover{
	color:#000;
	background-color:#f2f2f2;
}
.nav_tabs li a.active{
	color:#000;
	font-weight:bold;
	background-color:#f8f8f8;
}
.nav_tabs li .icon{
	margin-top:25px;
	width:32px;
	height:32px;
}
.main_wrapper .side_col{
	width:200px;
	background-color:#fdfdfd;
	border-left:solid 1px #ddd;
}
/* num_stat: num kpi with cols layout, defaults to cols3 */
.num_stat{
	border-bottom:solid 1px #eee;
	background-color:#fdfdfd;
	padding:1px 0;
}
.num_stat .cell{
	float:left;
	width:33%;
	border-left:solid 1px #eee;
}
.cols2 .cell{
	width:49.5%;
}
.cols4 .cell{
	width:24.5%;
}
.cols5 .cell{
	width:19.5%;
}
.num_stat .cell:first-child{
	border-left:none;
}
.num_stat .canvas{
	margin:15px auto 9px auto;
}
.num_stat .canvas .num{
	padding-left:24px;
	vertical-align:text-bottom;
	font-weight:bold;
	font-size:30px;
	color:#09F;
	text-align:center;
}
.num_stat .canvas .name{
	vertical-align:text-bottom;
	padding:0 12px 0 24px;
	font-weight:bold;
	font-size:16px;
	color:#666;
	text-align:right;
}
.num_stat .canvas .subname{
	vertical-align:top;
	padding-right:12px;
	text-align:right;
	color:#ccc;
}

/* num_cols: nums kpi cols, use table layout. cells are layouted by <tr> not by colsN class */
.num_cols{
	border-bottom:solid 1px #eee;
	background-color:#fdfdfd;
	padding:1px 0;
}
.num_cols .layout{
	width:100%;
}
.num_cols .cell{
	border-left:solid 1px #eee;
}
.num_cols .cell:first-child{
	border-left:none;
}
.num_cols a.cell_link{
	display:block;
	color:#09F;
	text-decoration:none;
}
.num_cols a.cell_link:hover .canvas .num{
	color:#09c;
}
.num_cols a.cell_link .ctg_48.user{
	background-position:0 0;
}
.num_cols a.cell_link .ctg_48.wifi_device{
	background-position:0 -48px;
}
.num_cols a.cell_link .ctg_48.merchant{
	background-position:0 -96px;
}
.num_cols a.cell_link:hover .ctg_48.user{
	background-position:-48px 0;
}
.num_cols a.cell_link:hover .ctg_48.wifi_device{
	background-position:-48px -48px;
}
.num_cols a.cell_link:hover .ctg_48.merchant{
	background-position:-48px -96px;
}
.num_cols .canvas{
	margin:15px auto 9px auto;
}
.num_cols .canvas .num{
	padding-left:24px;
	vertical-align:text-bottom;
	font-weight:bold;
	font-size:30px;
	color:#09F;
	text-align:center;
}

.num_cols .canvas .name{
	vertical-align:text-bottom;
	padding:0 12px 0 24px;
	font-weight:bold;
	font-size:16px;
	color:#666;
	text-align:right;
}
.num_cols .canvas .subname{
	vertical-align:top;
	padding-right:12px;
	text-align:right;
	color:#ccc;
}
/* icon_canvas: canvas that starts with icon*/
.num_cols .icon_canvas .soof_icon{
	margin-right:18px;
}
.num_cols .icon_canvas .num{
	padding-left:0;
	text-align:left;
}
.num_cols .icon_canvas .name{
	padding:0;
	font-weight:normal;
	font-size:12px;
	color:#666;
	text-align:left;
}
.soof_icon{
	display:inline-block;
	vertical-align:middle;
	background-repeat:no-repeat;
}
.soof_icon.ctg_48{
	width:48px;
	height:48px;
	background-image:url(../image/default/mix/ctg_icons.png);
}
.soof_icon.ctg_48.user_lightgray{
	background-position:0 0;
}
.soof_icon.ctg_48.wifi_device_lightgray{
	background-position:0 -48px;
}
.soof_icon.ctg_48.merchant_lightgray{
	background-position:0 -96px;
}
.soof_icon.ctg_48.user_blue{
	background-position:-48px 0;
}
.soof_icon.ctg_48.wifi_device_blue{
	background-position:-48px -48px;
}
.soof_icon.ctg_48.merchant_blue{
	background-position:-48px -96px;
}

.soof_notice_box{
	margin:2em 42px; 
	height:35px; 
	line-height:35px; 
	white-space:nowrap;
	overflow:hidden;
	border:solid 1px #eee;
}
.soof_notice_box .caption{
	display:block;
	float:left;
	background-color:#E8F3FF;
	height:100%;
	padding:0 6px;
}
.soof_notice_box a.l{
	display:block;
	float:left;
	margin:0 24px;
	text-decoration:none;
	color:#666;
}
.soof_notice_box a.l:hover{
	color:#F90;
	text-decoration:underline;
}
.soof_notice_box a.new{
	color:red;
}

.desc{
	color:gray;
}
.warn{
	color:red;
}
.clearer{
	height:0;
	clear:both;
}
.mc_viewport{
	margin:42px;
}
.setion{
	padding:42px 0;
	border-top:solid 1px #ddd;
}
.setion_first{
	padding-top:0;
	border-top:none;
}
.setion .s_header .title{
	font-size:20px;
}
.setion .sub_header .title{
	font-size:16px;
}
.setion .s_bar{
	background-color:#f2f2f2;
	padding:12px;
	font-size:14px;
}


.setion .s_header .more{
	float:right;
}
.radio_selector{
	margin-right:6px;
}
.radio_selector_label{
	margin-right:12px;
}
.chart_wrapper{
	margin-top:24px;
	height:300px;
}
.side_viewport{
	margin:42px 18px;
	
}
.side_viewport .title{
	font-size:20px;
}
.qa_list{
	margin-top:20px;
}
.qa_list li{
}
.qa_list a{
	display:block;
	margin-top:1px;
	padding:14px;
	background-color:#f2f2f2;
	font-size:14px;
	color:#000;
	text-decoration:none;
}
.qa_list a:hover{
	background-color:#eee;
	color:#FC0;
}
.data_list{
	width:100%;
	border-collapse:collapse;
}
/* th.h is th head; td.c is td cell */
.data_list th.h,
.data_list td.c{
	border:solid 1px #ddd;
	padding:8px;
	text-align:left;
}
.data_list th.h{
	background-color:#f2f2f2;
}
.p16{
	padding-top:16px;
}
#siteKpiTabs .deco_tabbar .deco_tab{
	padding:8px !important;
}
