@charset "utf-8";
/**
 * icons.css: style for menu icons.
 * or it may tarnish others.
 */

.soof_icon{
	display:inline-block;
	vertical-align:middle;
	width:16px;
	height:16px;
	background:url(../image/default/icon/icons.png?_v=20150311-1) no-repeat 100px 100px; /* position to blank space */
}
/* defines sizes: s16(defaults = 16*16), s18, s24, s32, s48, s64 */
.soof_icon.s18{
	width:18px;
	height:18px;
}
.soof_icon.s24{
	width:24px;
	height:16px;
}
.soof_icon.s32{
	width:32px;
	height:32px;
}
.soof_icon.s48{
	width:48px;
	height:48px;
}
.soof_icon.s64{
	width:64px;
	height:64px;
}
/* icons: non state, multi-color */
.soof_icon.help{
	background-position:0 0;
}
.soof_icon.link{
	background-position:-20px 0;
}
.soof_icon.link_add{
	background-position:-40px 0;
}
.soof_icon.link_edit{
	background-position:-60px 0;
}
.soof_icon.link_delete{
	background-position:-80px 0;
}
.soof_icon.edit{
	background-position:-100px 0;
}
.soof_icon.page_edit{
	background-position:-120px 0;
}
.soof_icon.page_magnify{
	background-position:-140px 0;
}

/* icons: states */
.soof_icon.arrow_up{
	background-position:0 -100px;
}
.soof_icon.arrow_up.hover,
.soof_icon.arrow_up:hover{
	background-position:0  -120px;
}
.soof_icon.arrow_down{
	background-position:-20px -100px;
}
.soof_icon.arrow_down.hover,
.soof_icon.arrow_down:hover{
	background-position:-20px -120px;
}

/* icons: non state, white */
.soof_icon.user_white{
	background-position:0 -200px;
}
.soof_icon.email_white{
	background-position:-20px -200px;
}
.soof_icon.help_white{
	background-position:-40px -200px;
}
.soof_icon.exit_white{
	background-position:-60px -200px;
}
.soof_icon.bell_white{
	background-position:-80px -200px;
}

.soof_icon.zoom_gray{
	background-position:0 -240px;
}

.soof_icon.plus_gray.s32{
	background-position:0 -300px;
}
.soof_icon.circle_tick.s48{
	background-position:0 -400px;
}
.soof_icon.circle_mark.s48{
	background-position:-50px -400px;
}

