@charset "utf-8";
/**
 * soofac mui style.
 */
html.fullscreen,
body.fullscreen{
	margin:0;
	padding:0;
	width:100%; 
	height:100%; 
	overflow:hidden;
	font-size: 12px;
}
.soof_mui{
	height:100%;
}
.soof_mui .mui_header{
	position:relative;
	top:0;
	height:60px;
	background-color:#4CA9D8;
	border-bottom:solid 1px #999;
}
.soof_mui .mui_header .logo_wrap{
	/*width:200px; */
	padding-top:16px;
	margin-left:25px;
}
.soof_mui .mui_header .logo{
	position:relative;
	left:40px;
	top:18px;
}
.soof_mui .mui_header .ver{
	display:inline-block;
	border-radius:5px;
	position:relative;
	left:5px;
	top:0px;
	padding:0 6px;
	vertical-align:top;
	color:#09C;
	visibility:hidden;/* first hide then show on logo ready,  */
	background-color:rgba(255, 255, 255, 0.95);
}
.soof_mui .badge_wrap{
	display:inline-block;
	position:relative;
	left:0;
	top:0;
	margin-right:12px;
}
.soof_mui .badge{
	display:none; /* first hide then show on target ready*/
	position:absolute;
	right:-13px;
	top:-13px;
	width:17px;
	height:17px;
	border:solid 2px #fff;
	border-radius:100%;
	color:#fff;
	text-align:center;
	background-color:#F33;
	font:bold 12px/18px arial,sans-serif;
}
.soof_mui .mui_header .user_bar{
	position:absolute;
	right:12px;
	top:36px;
	z-index:2;
}
.soof_mui .mui_header .user_bar a.btn{
	margin-left:24px;
	color:white;
	text-decoration:none;
}
.soof_mui .mui_header .user_bar a.btn:hover{
	color:#FC0;
}
.soof_mui .mui_main_wrapper{
	height:100%;
}
.soof_mui .mui_main{
	margin-left:200px;
	height:100%;
}
.soof_mui .mui_main .main_frame{
	width:100%;
	height:100%;
}
.soof_mui .mui_side{
	float:left;
	width:200px;
	height:100%;
}
.soof_mui_menu{
	height:100%;
	overflow:hidden;
	vertical-align:top;
	background-color:#f2f2f2;
	border-right:solid 1px #ccc;
}
.soof_mui_menu_scrollable{
	overflow:auto;
}
.soof_mui_menu ul{
	margin: 0;
	list-style:none;
}
.soof_mui_menu ul.menu_holder{
	margin-bottom:80px;
	padding-top:6px;
	padding-left:5px;
	list-style:none;
}
.soof_mui_menu li{
	display:block;
	clear:both;
}
.soof_mui_menu li a{
	display:block;
	float:left;
	margin-top:3px;
	padding-left:36px;
	width:115px;
	height:24px;
	line-height:24px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	text-decoration:none;
	color:#000;
}
.soof_mui_menu li a:hover{
	color:#F90;
}
.soof_mui_menu li a.ctg{
	margin-top:18px;
	line-height:20px;
	font-size:16px;
	background:0 0 no-repeat;
}
.soof_mui_menu li a.ctg .text{
	padding-top:3px;
}
.soof_mui_menu li a.active{
	font-weight:bold;
}
.soof_mui_menu li .indent_icon,
.soof_mui_menu li .fold_icon{
	float:left;
	width:14px;
	height:14px;
	margin-top:24px;
	margin-right:6px;
}
.soof_mui_menu li .fold_icon{
	cursor:pointer;
	background:url(../image/default/mui/triangles.gif) no-repeat 0 0;
}
/*.soof_mui_menu_scrollable li .fold_icon{
	margin-right:0;
}
*/.soof_mui_menu li .fold_icon_collapsed{
	background-position:0px -14px;
}
.soof_mui_menu li .sub_list{
	padding-left:20px;
}

.soof_mui_menu li a.icon_home{
	background-position:0 -1px;
}
.soof_mui_menu li a.icon_server{
	background-position:0 -24px;
}
.soof_mui_menu li a.icon_msite{
	background-position:0 -48px;
}
.soof_mui_menu li a.icon_wifi_device{
	background-position:0 -72px;
}
.soof_mui_menu li a.icon_wifi_user{
	background-position:0 -96px;
}
.soof_mui_menu li a.icon_stat{
	background-position:0 -120px;
}
.soof_mui_menu li a.icon_setting{
	background-position:0 -144px;
}
.soof_mui_menu li a.icon_wifi_pos{
	background-position:0 -168px;
}
.soof_mui_menu li a.icon_wifi_probe{
	background-position:0 -192px;
}
.soof_mui_menu li a.icon_wifi_camera{
	background-position:0 -216px;
}
.soof_mui_menu li a.icon_appcenter{
	background-position:0 -240px;
}
.soof_mui_menu li a.icon_bizmgmt{
	background-position:0 -264px;
}
.soof_mui_menu li a.icon_network{
	background-position:0 -288px;
}


/**
 * theme_darkblue 
 */
.theme_darkblue .soof_mui_menu li a.ctg{
	background-image:url(../image/theme/darkblue/menu_icons.gif);
}
.theme_darkblue .soof_mui_menu li a.active{
	color:#006699;
}
