@charset "utf-8";
/**
 * report.css: report page style.
 */

.soof_report{}
.soof_report .section .s_header .title{
	font-size:20px;
}
.soof_report .section{
	padding:42px 0;
}
.soof_report .section.first,
.soof_report .section.section_unite{
	padding-top:0;
}

/*search_bar : report search bar */
.soof_report .search_bar{
	padding:1em;
	border-top:solid 1px #eee;
	border-bottom:solid 1px #eee;
	background-color:#f8f8f8;
}
.soof_report .search_bar .label_ctn{
	width:80px;
	padding:12px 0;
}
.soof_report .search_bar .ctrls_ctn{
	padding:3px 0;
}
.soof_report .search_bar .ctrl{
	float:left;
}
.soof_report .search_bar .jquery_idtabs.radio_btn ul.tabbar a {
	border-color:#E4E4E4;
	background-color:#fff;
}
.soof_report .search_bar .jquery_idtabs.radio_btn ul.tabbar a:hover {
	background-color:transparent;
}
.soof_report .search_bar .jquery_idtabs.radio_btn ul.tabbar a.selected {
	color:#000;
	font-weight:bold;
	background-color:#E4E4E4;
}
/**
 * 
 */
.soof_report .soof_data_list th.h,
.soof_report .soof_data_list td.c{
	border:none;
}
.soof_report .soof_data_list td.c{
	border-bottom:solid 1px #ddd;
}
.soof_report .soof_data_list th.index_col{
	width:30px;
}

/* summary: kpis summary, followed to search_bar */
.soof_report .summary{
	margin-top:20px;
}
/* chart_wrapper : chart wrapper*/
.soof_report .chart_wrapper,
.soof_report .chart_wrapper_auto{
	position:relative;
	top:0;
	margin-top:24px;
	height:300px;
	min-height:100px;
}
.soof_report .chart_wrapper_auto{
	height:auto;
}
/* loading_tip : loading tip for chart comp */
.soof_report .chart_wrapper .loading_tip{
	position:absolute;
	z-index:10;
	top:0;
	width:100%;
	height:100%;
	text-align:center;
	background-color:rgba(255, 255, 255, 0.6);
}
.soof_report .chart_wrapper .tip_holder{
	margin-top:100px;
}
.soof_report .chart_wrapper_auto .loading_tip{
	padding:50px 0;
	text-align:center;
}
.soof_report .inline_loading_tip{
	text-align:center;
}

/* override jqplot defaults */
.soof_report table.jqplot-table-legend,
.soof_report table.jqplot-cursor-legend{
	border:0;
}
.soof_report .jqplot-table-legend-label{
	padding:2px 5px 2px 3px;
}

/*
 * soof_contrast_table: table to contrast 2 objects.
 */
.soof_contrast_table {
	margin: 0 auto;
}
.soof_contrast_table .avatar{
	text-align:center;
}
.soof_contrast_table .avatar.l{
	padding-right:32px;
}
.soof_contrast_table .avatar.r{
	padding-left:32px;
}
.soof_contrast_table .avatar .name{
	padding:12px;
	font-size:14px;
	font-weight:bold;
}
.soof_contrast_table .large .val{
	font-size:24px;
	font-weight:bold;
}
.soof_contrast_table .val{
	font-size:14px;
	padding:8px 24px;
}
.soof_contrast_table .val.l{
	text-align:right;
}
.soof_contrast_table .val.r{
	text-align:left;
}
.soof_contrast_table .label{
	padding:3px 24px;
	text-align:center;
	background-color:#f2f2f2;
}
/* bright_gray: color diff area with bright and gray */
.soof_report.bright_gray .bright .title{
	color:#09C;
}
.soof_report.bright_gray .gray .title{
	color:gray;
}
.soof_report.bright_gray .soof_contrast_table .l{
	color:#09c;
}
.soof_report.bright_gray .soof_contrast_table .r{
	color:gray;
}

