<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:util="http://www.springframework.org/schema/util"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:task="http://www.springframework.org/schema/task"   
    xmlns:cache="http://www.springframework.org/schema/cache"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-3.2.xsd
						http://www.springframework.org/schema/mvc 
						http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd	
						http://www.springframework.org/schema/task
						http://www.springframework.org/schema/task/spring-task-3.2.xsd													                                               
                        http://www.springframework.org/schema/util                           
                        http://www.springframework.org/schema/util/spring-util-3.0.xsd" >		    
    <bean id="SpringContextAware" class="com.soofound.framework.util.SpringContextAware" >         	
	    <property name="appName" value="soofac"/>
	    <property name="logIPLocation" value="1"/>
	</bean>	
	<!-- default data source -->
	<bean id="defaultDS" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">	    
		<property name="url" value="jdbc:mysql://211.157.161.163:3306/soofac_wifiant?useUnicode=true&amp;characterEncoding=utf-8"/>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="username" value="afunms"/>
		<property name="password" value="soofac"/>
		<property name="maxActive" value="500" />
		<property name="initialSize" value="30"/>  
		<property name="maxIdle" value="30" /> 
		<property name="minIdle" value="5" />   
		<property name="maxWait" value="1000"/>     
		<property name="validationQuery" value="SELECT 1" />  
        <property name="testOnBorrow" value="true" />  
        <property name="testOnReturn" value="true" />  
        <property name="testWhileIdle" value="true" />          
        <property name="timeBetweenEvictionRunsMillis" value="30000"/>  
        <property name="removeAbandonedTimeout" value="60"/>  
        <property name="minEvictableIdleTimeMillis" value="30000"/>  
        <property name="logAbandoned" value="true"/>  
        <property name="removeAbandoned" value="true"/> 
	</bean>				
	<bean id="defaultJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
		    <ref local="defaultDS" />
		</property>
    </bean>	
    <!-- acside data source -->
    <bean id="acsideDS" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">	    
		<property name="url" value="jdbc:mysql://120.24.77.206:3306/acside?useUnicode=true&amp;characterEncoding=utf-8"/>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="username" value="root"/>
		<property name="password" value="afunms"/>
		<property name="maxActive" value="500" />
		<property name="initialSize" value="30"/>  
		<property name="maxIdle" value="30" /> 
		<property name="minIdle" value="5" />   
		<property name="maxWait" value="10000"/>     
		<property name="validationQuery" value="SELECT 1" />  
        <property name="testOnBorrow" value="true" />  
        <property name="testOnReturn" value="true" />  
        <property name="testWhileIdle" value="true" />          
        <property name="timeBetweenEvictionRunsMillis" value="30000"/>  
        <property name="removeAbandonedTimeout" value="60"/>  
        <property name="minEvictableIdleTimeMillis" value="30000"/>  
        <property name="logAbandoned" value="true"/>  
        <property name="removeAbandoned" value="true"/> 
	</bean>	
	<bean id="acsideJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
		    <ref local="acsideDS" />
		</property>
    </bean>		    			
	<!-- file upload resolver -->         	
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="52428800" />
        <property name="maxInMemorySize" value="1024000" />
    </bean>		    
	<bean id="soofacACS" class="com.soofound.cpe.util.SoofacACS" > 
        <property name="username" value="wifiant" />
        <property name="password" value="soofound" />
        <property name="acsURL" value="http://www.wifiant.cn/softac/" />
        <property name="realm" value="wifiant" />
        <property name="accessControl" value="mac" />
        <property name="rosMac" value="AA:BB:CC" />
        <property name="mysqlBackupCMD" value=" -uafunms -psoofac soofac" />
        <property name="cpeProperties"> 
	        <props>
	            <prop key="wireless_terminal_isolate">0:关;1:开</prop> 
	            <prop key="wireless_hide_essid">0:关;1:开</prop>    
	            <prop key="MaxStaNum">5;6;7;8;9;10;11;12;13;14;15;16;17;18;19;20;21;22;23;24;25;26;27;28;29;30;31;32;33;34;35;36;37;38;39;40;41;42;43;44;45;46;47;48;49;50;51;52;53;54;55;56;57;58;59;60;61;62;63;64</prop>  
		        <prop key="wireless_channel">auto;1;2;3;4;5;6;7;8;9;10;11</prop>
		        <prop key="wireless_channel_5G">149:149(5.745GHz);153:153(5.765GHz);157:157(5.785GHz);161:161(5.805GHz);165:165(5.825GHz);</prop>
		        <prop key="wireless_tx_power">1;10;20;30;40;50;60;70;80;90;100</prop>
		        <prop key="wireless_tx_power_5G">1;10;20;30;40;50;60;70;80;90;100</prop>
		        <prop key="wireless_ht">20;40</prop>
		        <prop key="wireless_ht_mode">20;40</prop>
		        <prop key="work_mode">ap;router</prop>        
		        <prop key="wshaper_switch">0:关;1:开</prop> 
		        <prop key="weixing_pass">0:关;1:开</prop>
		        <prop key="http_redirect_enable">0:关;1:开</prop>
		        <prop key="free_no_auth">0:关;1:开</prop> 
            </props>    
        </property> 
        <property name="customSQLs"> 	         
	        <list />
        </property>          
    </bean>    	    			 
    <!-- email config -->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.126.com" />
        <property name="username" value="wifiant@126.com" />
        <property name="password" value="wifiant2014" />
        <property name="port" value="994" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.timeout">20000</prop>
                <prop key="mail.smtp.starttls.enable">false</prop>
                <prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
                <prop key="mail.smtp.socketFactory.fallback">true</prop>
            </props>
        </property>        
    </bean> 	
    <!-- CustomFactory -->
    <bean id="zhongxinHandler" class="com.soofound.portal.custom.CmccPortalHandler" >
        <property name="portalIP" value="115.236.166.4" />
        <property name="radiusIP" value="115.236.166.3" />
        <property name="secret" value="zhongxing" />
		<property name="noFeeling" value="1" />
    </bean>   
    <bean id="customFactory" class="com.soofound.portal.custom.CustomFactory" > 
        <property name="thirdPartyHandlers"> 
            <list>
                <ref local="zhongxinHandler" />
            </list>	           
        </property> 
        <property name="smsSenderClazz" value="com.soofound.portal.custom.WebServiceSmsSender" />
        <property name="sessionStoreClazz" value="com.soofound.portal.custom.CmccSurfingSession" />      
        <property name="deviceImages"> 
	        <props>
	            <!-- 吸顶 -->
	            <prop key="RW2400NGHSC">celling.jpg</prop>
	            <prop key="RW2400NGHSC-M">celling.jpg</prop>
	            <prop key="RW2400NGHSC-A">celling.jpg</prop>
	            <prop key="1.2-HP">celling.jpg</prop> 	             
	            <prop key="AP5300-N">celling.jpg</prop>
	            <prop key="SP3190">celling.jpg</prop>   
	            <!-- 面板 -->
	            <prop key="RW2400NSC2-W">panel.jpg</prop>
	            <prop key="AP5300-W">panel.jpg</prop>
	            <prop key="1.2-WALL">panel.jpg</prop> 	             
	            <!-- 商铺 -->
	            <prop key="RW2400NSC-S">shop.jpg</prop>
            </props>    
        </property>
        <property name="brands" value="苹果;三星;小米;华为;联想;中兴;HTC;Coolpad;OPPO" />
    </bean>     
    <!-- auto run job --> 
    <bean id="jobs" class="com.soofound.framework.job.JobsLauncher">
        <property name="clazzs">
            <list>
                <value>com.soofound.portal.util.MySQLProcedureJob</value>
                <value>com.soofound.portal.util.BackupJob</value>
                <value>com.soofound.portal.util.OnlineUserSummaryJob</value>
            </list>
        </property>
    </bean>
    <!-- stun server -->
    <bean id="stunServer" class="com.soofound.cpe.util.StunServerLauncher" > 
        <property name="port" value="3478" />
        <property name="address" value="" />
    </bean> 		
    
    <!-- EhCache -->
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
    	<property name="configLocation">  
        	<value>/WEB-INF/config/ehcache.xml</value>  
      	</property> 
    </bean>        
    <bean id="methodCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
        <property name="cacheManager" ref="cacheManager" />  
        <property name="cacheName" value="soofacCache" /> 
    </bean>
    <bean id="methodCacheInterceptor" class="com.soofound.operation.cache.MethodCacheInterceptor">
        <property name="cache" ref="methodCache" />
    </bean>
    <bean id="methodCachePointCut" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice" ref="methodCacheInterceptor"/>
        <property name="patterns">  
            <list>  
                <value>getCacheBy*</value>  
            </list>  
        </property>          
    </bean>
    <bean id="lookupCacheDao" class="com.soofound.operation.cache.LookupCacheDaoImpl"/>
	<bean id="lookupCacheDaoProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces" value="com.soofound.operation.cache.LookupCacheDao" />
		<property name="target" ref="lookupCacheDao"/>
		<property name="interceptorNames">
			<list>
				<value>methodCachePointCut</value>
			</list>
		</property>
	</bean>
	<bean id="memcachedPool" class="com.danga.MemCached.SockIOPool" factory-method="getInstance" init-method="initialize">
		<constructor-arg>
			<value>neeaMemcachedPool</value>
		</constructor-arg>
		<property name="servers">
			<list>
				<value>10.18.18.2:11211</value>
			</list>
		</property>
		<property name="initConn">
			<value>20</value>
		</property>
		<property name="minConn">
			<value>10</value>
		</property>
		<property name="maxConn">
			<value>50</value>
		</property>
		<property name="nagle">
			<value>false</value>
		</property>
		<property name="socketTO">
			<value>3000</value>
		</property>
	</bean>
	<bean id="memcachedClient" class="com.danga.MemCached.MemCachedClient">
		<constructor-arg>
			<value>neeaMemcachedPool</value>
		</constructor-arg>
	</bean>  
    <context:annotation-config />	
	<context:component-scan base-package="com.soofound"/>
	<mvc:annotation-driven />
	<task:annotation-driven />		
</beans>    