@charset "utf-8";
/**
 * @fileOverview Multi-tab interface(mti) standard info page is formed of title and groups,
 * and each group always be formed of header and body.
 * @change 
 *  #1-A by prcjack Creates file.
 *  #2-M by prcjack @2012/7/23 Modify data_fields th, data_list th background-color.
 *  #3-M by prcjack @2012/8/17 Modify rlx_mti_centered_page background-color from #eee to #f6f6f6.
 *  #4-A by prcjack @2012/9/4 Add "reverse_group_margin", "comp_box_side" style.
 *  #5-M &prcjack @2012/11/5 Modify grid_fields th.label, grid_fields td.field_ctn style.
 *  #6-M &prcjack @2012/11/5 Change grid_fields .field, data_fileds .filed style, add grid_fields .readonly style.
 *  #7-M &prcjack @2012/11/24 Add font-size for data_fields .field.
 *  #8-A &prcjack @2013/1/8 Add a.dodged .
 *  #9a by prcjack @2013/4/8 Set grid_fields_cols4 table-layout to fix.
 */
/*
rl.provided("x:mti.css.info");
*/

.rlx_mti_info {
	font-size:12px;
	padding-bottom:2em;
}
.rlx_mti_info a {
	text-decoration:none;
	color:#06C;/*#28417A #06C*/
}
.rlx_mti_info a:hover {
	color:#F90;
}
/**
 * a.dodged: for color dodged links.
 */
.rlx_mti_info a.dodged{
	color:#09C;
}
.rlx_mti_info a.dodged:hover{
	color:#F90;
}
/**
 * page_wrapper : default theme, page wrapper, content align left.
 */
.rlx_mti_info .page_wrapper {
	margin:30px 0 50px 25px;
}
/**
 * rlx_mti_centered_page : page content centered theme, content align center.
 * #3-M &prcjack @2012/8/17 Modify background-color from #eee to #f6f6f6.
 */
.rlx_mti_centered_page{
	background-color:#f6f6f6;
}
/**
 * rlx_mti_centered_page_open : a theme of center page, with open style(no border limit), wider content width.
 * open style always uses a colored block as header.
 */
.rlx_mti_centered_page_open{
}
.rlx_mti_centered_page .rlx_mti_info .page_wrapper{
	width:960px;
	margin:30px auto 50px auto;
	border:solid 1px #ccc;
	background-color:#fff;
}
.rlx_mti_centered_page_open .rlx_mti_info .page_wrapper{
	width:1000px;
	margin:30px auto 50px auto;
}
.rlx_mti_centered_page .rlx_mti_info .page_xwidth_960,
.rlx_mti_centered_page_open .rlx_mti_info .page_xwidth_960{
	width:960px;
}
.rlx_mti_centered_page .rlx_mti_info .page_xwidth_1000,
.rlx_mti_centered_page_open .rlx_mti_info .page_xwidth_1000{
	width:1000px;
}
.rlx_mti_centered_page .rlx_mti_info .page_xwidth_1200,
.rlx_mti_centered_page_open .rlx_mti_info .page_xwidth_1200{
	width:1200px;
}
/** Note: rlx_mti_centered_page_open no need page_wrapper_inner(which adds padding for content) */
.rlx_mti_centered_page .rlx_mti_info .page_wrapper_inner{
	padding:2em 1.5em;
}
.rlx_mti_centered_page_open .rlx_mti_info .page_header{
	border:solid 1px #E4E4E4;
	background-color:#f2f2f2;
}
.rlx_mti_centered_page_open .rlx_mti_info .page_header .header_inner_wrapper{
	padding:12px;
}
/**
 * @limit_770
 * limit page width.
 */
.rlx_mti_info .limit_770 {
	width:770px;
}
/**
 * @name l_single_col
 * Single column layout
 */
.rlx_mti_info .l_single_col .l_main {
	width:920px;
}
.rlx_mti_info .l_single_col .l_main .group {
	width:890px;
	margin-left:16px;
}
.rlx_mti_info .l_single_col .l_main .group .g_body {
	width:870px;
}
/**
 * @name l_double_cols
 * Double columns layout, formed of l_main, l_side
 */
.rlx_mti_info .l_double_cols .l_main {
	float:left;
	width:700px;
}
.rlx_mti_info .l_double_cols .l_main .group {
	width:670px;
	margin-left:16px;
}
.rlx_mti_info .l_double_cols .l_side {
	width:220px;
	float:right;
	margin-right:12px !important;
	margin-right:6px;
}
.rlx_mti_info .indent {
	margin-left:2em;
}
.rlx_mti_info h3.title {
	font-size:16px;
	color:#28417A;
	text-align:left;
}
.rlx_mti_info .top_bar {
	position:absolute;
	top:5px;
	height:25px;
	text-align:right;
}
.rlx_mti_info .top_bar a {
	color:#28417A;
}
.rlx_mti_info .top_bar a:hover {
	color:#F90;
}
.rlx_mti_info .top_bar .sep {
	border-right:solid 1px #ccc;
	margin:0 12px 0 6px;
}
.rlx_mti_info .side_btns {
	float:right;
}
.rlx_mti_info .side_btns button {
	height:20px;
}
.rlx_mti_info a.icon_btn {
	line-height:16px;
}
.rlx_mti_info a.icon_btn * {
	vertical-align:middle;
}
.rlx_mti_info a.icon_btn img {
	width:16px;
	height:16px;
}
.rlx_mti_info .group {
	clear:both;
	margin-top:2em;
}
/* reverse_group_margin: add for some groups which top content are blank */
.rlx_mti_info .reverse_group_margin .group{
	margin-top:0;
	margin-bottom:2em;
}
.rlx_mti_info .group fieldset.wrapper {
	margin:0;
	padding:0;
	display:block;
	border:none;
	border-top:solid 1px #CCC;
}
.rlx_mti_info .group fieldset.wrapper legend{
	*margin-left:-7px;/*for ie<8*/
	color:#000;
	cursor:pointer;
}
.rlx_mti_info .group fieldset.wrapper legend img.triangle{
	width:12px;
	height:8px;
	background:url(../image/common/triangles.gif) no-repeat center 1px;
}
.rlx_mti_info .group fieldset.collapsed legend img.triangle{
	background-position:center -24px;
}
/* g_title: title for group without fieldset wrapper */
.rlx_mti_info .group h5.g_title {
	margin-bottom:.5em;
	text-align:left; 
}
.rlx_mti_info .group .g_bar {
	margin-top:8px;
	height:12px;
	text-align:right;
	clear:both;
}
.rlx_mti_info .group .g_body {
	margin-top:16px;
	line-height:1.5em;
	padding-left:24px;
	clear:both;
}
.rlx_mti_info .group .g_body p {
	margin:1em 0;
}
.rlx_mti_info .l_side .group {
	float:right;
	width:210px;
	margin:0;
	margin-left:9px !important;
	margin-left:5px;
	margin-bottom:9px;
}
.rlx_mti_info .l_side .group .g_body, .rlx_mti_info .l_side .group .g_bar {
	width:190px;
	margin:5px auto;
	clear:both;
}
.rlx_mti_info .l_side .group .g_body {
	padding:0;
}
.rlx_mti_info .l_side .group .g_body_indent{
	padding:0 .5em;
}
/**
 * group_fieldset: a group style, this group is always formed of fields
 * which are layouted by the table(class="grid_fields").
 */
.rlx_mti_info .group_fieldset {
	width:95%;
	margin:2em auto 0;
}
/* because group's inside fields has already contained padding set (defined in "grid_fields"),
   here, we remove g_body's padding */
.rlx_mti_info .group_fieldset .g_body {
	padding-left:0;
}
.rlx_mti_info .group_fieldset .g_body_indent{
	padding-left:0;
}
/**
 * bar_group : group that contains a bar which defines group horizon view zone.
 * As far, bar_group is appropriate for one group one page. 
 */
.rlx_mti_info .bar_group {
}
.rlx_mti_info .bar_group .g_bar{
	background-color:#f6f6f6;
	height:25px;
	line-height:25px;
	padding-right:5px;
}
/**
 * @name report
 * style for report which always has fixed form:
 * title + rpt_header + rpt_search + body
 */
.rlx_mti_info .report {
	margin-top:30px;
}
.rlx_mti_info .report .rpt_header {
	padding-bottom:1em;
}
.rlx_mti_info .report .rpt_header .icon_btn {
	float:right;
}
.rlx_mti_info .search_wrapper {
	padding:12px 0;
}
/*search_wrapper_ani: for animate display searchbar.*/
.rlx_mti_info .search_wrapper_ani {
	height:0;
	font-size:1px;
	display:none;
	overflow:hidden;
	border-top:solid 1px #ccc;
}
.rlx_mti_info .search_bottom_bar {
	padding-top:5px;
}
.rlx_mti_info .search_bottom_bar button {
	line-height:16px;
}
/*.rlx_mti_info .report .rpt_body{
}*/
/**
 * @name chart_wrapper
 * style for chart wrapper.
 */
.rlx_mti_info .chart_wrapper {
	text-align:center;
	margin:5px auto;
}
.rlx_mti_info .report .chart_wrapper {
	margin:2em auto;
}
.rlx_mti_info .report .mti_std_info_tip {
	text-align:center;
	margin:2em auto;
}
/**
 * data_list: for list data table.
 * data_fields: for fields data table.
 */
.rlx_mti_info .data_list,
.rlx_mti_info .data_fields {
	width:100%;
}
.rlx_mti_info .data_list th,
.rlx_mti_info .data_list td,
.rlx_mti_info .data_fields th,
.rlx_mti_info .data_fields td,
.rlx_mti_info .data_list_noconflict td.field_ctn,
.rlx_mti_info .data_fields_noconflict td.field_ctn{
	border-bottom:solid 1px #eee;
	line-height:18px;
	padding:3px;
	text-align:left;
}
/**
 * #2-M &prcjack @2012/7/23 Modify background-color from #eee to #f2f2f2.
 */
.rlx_mti_info .data_list th,
.rlx_mti_info .data_fields th {
	background-color:#f2f2f2;
	font-weight:normal;
}
.rlx_mti_info .data_fields {
	table-layout:fixed\9;
}
.rlx_mti_info .data_fields th.label {
	width:118px;
	border-top:solid 1px #fff;
}
/**
 * #6-M &prcjack @2012/11/5 Modify height to 20px and add line-height;
 * #7-M &prcjack @2012/11/24 Add font-size.
 */
.rlx_mti_info .data_fields .field {
	height:20px;
	line-height:20px;
	font-size:12px;
}
.rlx_mti_info .data_fields .readonly {
	background: #fff;
	border: 0;
	border-bottom: 1px solid #ADB1C2;
	cursor: default;
}
.rlx_mti_info .three_line_form {
	width:100%;
	border-top:solid 1px #000;
	border-bottom:solid 1px #000;
}
.rlx_mti_info .three_line_form th,
.rlx_mti_info .three_line_form td,
.rlx_mti_info .three_line_form_noconflict td.field_ctn {
	line-height:14px;
	padding:3px;
	text-align:left;
}
.rlx_mti_info .three_line_form th {
	border-bottom:solid 1px #000;
}

/*
grid_fields: data_fields theme.
*/
.rlx_mti_info .grid_fields {
	width:95%;
	margin:0 auto;
	border-collapse:collapse;
	table-layout:fixed;
}
/**
 * #5-M &prcjack @2012/11/5 Remove height, modify padding to 10px, add line-height.
 */
.rlx_mti_info .grid_fields th.label,
.rlx_mti_info .grid_fields td.field_ctn {
	padding: 10px 5px;
	line-height:20px;
	vertical-align:middle;
	border: 1px solid #D8E9F7;
}
.rlx_mti_info .grid_fields th.label {
	width:100px;
	text-align: left;
	font-weight:normal;
	/*
	this color is too same as link color.
	color:#273F7B;
	*/
	background-color:#F8FAFC;
}
.rlx_mti_info .grid_fields td.field_ctn {
	/*text-align: left;*/
}
/**
 * #6-M &prcjack @2012/11/5 Modify height to 20px and add line-height;
 */
.rlx_mti_info .grid_fields .field {
	height:20px;
	line-height:20px;
	width:90%;
	font-size:12px;
	/*hack ie6 border style*/
	_border-top:solid 1px #ABADB3;
	_border-left:solid 1px #DBDFE6;
	_border-right:solid 1px #DBDFE6;
	_border-right:solid 1px #E3E9EF;
}
.rlx_mti_info .grid_fields .readonly {
	border: 1px solid #ccc;
	cursor: default;
}
/*
grid_fields_cols4: grid_fields with 4 columns( the default is 2 cols).
*/
.rlx_mti_info .grid_fields_cols4 {
	table-layout:fixed;
}
.rlx_mti_info .grid_fields_cols4 .field {
	width:85%;
}
.rlx_mti_info .grid_fields_cols4 .field_colspan3 {
	width:94%;
}
.rlx_mti_info .grid_fields_cols4 th.label {
	width:80px;
}

/*
grid_fields_autowidth: grid_fields with autowidth columns.
*/
.rlx_mti_info .grid_fields_autowidth .field {
	width:auto;
}
.rlx_mti_info .grid_fields_autowidth th.label {
	width:auto;
}
.rlx_mti_info .grid_fields_autowidth img.action_btn {
	cursor:pointer;
}

/**
 * fileds_section: fields are layouted in sections strpped.
 */
.rlx_mti_info .fileds_section{
	width:95%;
	margin:0 auto;
	padding:.5em 0 1.5em 0;
}
.rlx_mti_info .fileds_section_stripped{
	background-color:#F8FAFC;
	border:solid 1px #eee;
	border-left:none;
	border-right:none;
}
.rlx_mti_info .fileds_section .grid_fields{
	border:none;
	width:100%;
}
.rlx_mti_info .fileds_section .grid_fields th.label{
	border:none;
	text-align:right;
	padding-right:5px;
	background:none;
}
.rlx_mti_info .fileds_section .grid_fields td.field_ctn{
	border:none;
}
.rlx_mti_info .fileds_section .grid_fields .field{
	width:50%;
}
/**
 * cols_layout
 * For simplicity, max num of cells in a row is 6, and the cell is called unit.
 * A unit's width is 15%, units spacing is 1%.
 * Each item is formed of one or more units, their withd is set by colspan(*).
 */
/* override box padding in group when the box has both "cols_layout" and "g_body" */
.rlx_mti_info .group .cols_layout{
	padding-left:0;
}
.rlx_mti_info .cols_layout .col,
.rlx_mti_info .cols_layout .comp_box{
	float:left;
	width:15%;
	/*fix ie6 puzzled percentage margin problem*/
	margin-left:1.5% !important;
	margin-left:1%;
	/*fix ie6 double margin bug*/
	display:block !important;
	display:inline;
	overflow:hidden;
}
.rlx_mti_info .cols_layout .comp_box{
	margin-bottom:12px;
}
/**
 * comp_box_side : side comp_box no need cols_layout.
 */
.rlx_mti_info .comp_box_side{
	width:100%;
	margin-bottom:12px;
}
/*.cols_layout .colspan1{}*/
.rlx_mti_info .cols_layout .colspan2{
	width:31.5%;
}
.rlx_mti_info .cols_layout .colspan3{
	width:48%;
}
.rlx_mti_info .cols_layout .colspan4{
	width:64.5%;
}
.rlx_mti_info .cols_layout .colspan5{
	width:81%;
}
.rlx_mti_info .cols_layout .colspan6{
	width:97.5%;
}
.rlx_mti_info .cols_layout .clearer{
	clear:both;
	height:1px; 
	overflow:hidden;
}
.rlx_mti_info .rlx_tip{
	color:#999;
}

/*
rlx_mti_bar_popup : action bar(toolbar) of popup page.
*/
.rlx_mti_bar_popup{
	border-top : solid 1px #eee;
	padding-top :7px;
	background-color:#ECF5FD;
	text-align:center;
}
.rlx_mti_bar_popup .rl_btn{
	margin-left:12px;
}
.rlx_mti_bar_popup .rl_btn .text_ctn{
	padding-left:12px;
	padding-right:12px;
}
.rlx_mti_bar_popup .rl_btn,
.rlx_mti_bar_popup .rl_input,
.rlx_mti_bar_popup .rl_label{
	float:none !important;
}


/* rlx_mti_bar_popup theme: lightgray */
.rlx_mti_bar_popup.lightgray{
	background-color:#f8f8f8;
}
.rlx_mti_bar_popup.lightgray .rl_btn,
.rlx_mti_bar_popup.lightgray .rl_input,
.rlx_mti_bar_popup.lightgray .rl_label{
	vertical-align:middle;
	margin-top:12px;
}
.rlx_mti_bar_popup.lightgray button.inline div{
	height:auto;
}
.rlx_mti_bar_popup.lightgray .rl_btn .rl_btn_left,
.rlx_mti_bar_popup.lightgray .rl_btn .rl_btn_center,
.rlx_mti_bar_popup.lightgray .rl_btn .rl_btn_right{
	background:none;
}
.rlx_mti_bar_popup.lightgray .rl_btn .rl_btn_center .text_ctn{
	padding:5px 1.5em;
	border:solid 1px #ddd;
	background-color:#fff;
	border-radius:3px;
}
.rlx_mti_bar_popup.lightgray .rl_btn:hover .rl_btn_center .text_ctn{
	background-color:#f2f2f2;
}
.rlx_mti_bar_popup.lightgray .rl_btn:first-child .rl_btn_center .text_ctn{
	padding:6px 3em;
	border:none;
	background-color:#09C;
	color:#fff;
}
.rlx_mti_bar_popup.lightgray .rl_btn:first-child:hover .rl_btn_center .text_ctn{
	background-color:#00B3EE;
}
.rlx_mti_bar_popup.lightgray .rl_btn button{
	height:auto;
}
